* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  padding: 2px;
  justify-content: center;
}

.header-logo {
  display: flex;
  width: 50%;
  padding: 1px;
  justify-content: flex-start;
  align-items: center;
}
.logo, .mytimes {
  color: MediumAquamarine;
  padding-left: 15px;
}
.mytimes {
  padding-left: 5px;
}

.navigation {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  color: black;
}
.navigation ul li {
  display: inline-block;
  list-style-type: none;
  justify-content: flex-end;
  padding-right: 20px;
  margin: 0px;
  color: black;
}
.header-logo, .navigation {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}


.main-container {
  display: flex;

}
.column.large {
  display: flex;
  width: 630px;
  flex-direction: column;
  border: 1px solid black;
}

.column.medium {
  display: flex;
  width: 300px;
  flex-direction: column;
  border: 1px solid black;
}

.column.small {
  display: flex;
  width: 240px;
  flex-direction: column;
  border: 1px solid black;
}
