* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

/*header section*/

.header {
  display: flex;
  width: 100%;
  padding: 2px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1;
}
.header-logo {
  display: flex;
  width: 50%;
  padding: 1px;
  justify-content: flex-start;
  align-items: center;
}
.logo, .mytimes {
  color: MediumAquamarine;
  padding-left: 20px;
}
.mytimes {
  padding-left: 10px;
}
.navigation {
  display: flex;
  width: 50%;
  color: black;
  align-items: center;
  justify-content: flex-end;
}
.nav {
  display: inline-block;
  padding: 10px 10px;
  margin-right: 20px;
}
span {
  padding-left: 20px;
}
a {
  color: black;
}

/*main container section*/
.container {
  display: flex;
  width: 100%;
  padding: 2rem 1.5rem 5rem 1.5rem;
  justify-content: space-between;
  padding-top: 6.5rem;
}
.story {
  display: flex;
  font-family: Georgia;
  font-size: 17px
  color: black;
  width: 100%;
  padding-top: 1rem;
}
.earth-spins, .camaraman,
.cats  {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/*large column section*/
.column-large {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.main-story {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.story-main {
  display: flex;
  background-image: url("../images/story-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20rem;
}
.story-main p {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.other-story {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.other-story-left,
.other-story-right {
  display: flex;
  width: 48%;
  flex-direction: column;
}
.other-story-header {
  display: flex;
  width: 100%;
  font-family: Georgia;
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 1.7rem;
}
.earth-spins {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  height: 19rem;
  justify-content: center;
  background-image: url("../images/fall-season.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.camaraman {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  height: 19rem;
  background-image: url("../images/camaraman.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*medium column section*/
.column-medium {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.fbi {
  display: flex;
  font-family: Georgia;
  font-size: 1.3rem;
  font-weight: bold;
}
.cats {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  height: 19rem;
  background-image: url("../images/Cat-Ceo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*small column section*/
.column-small {
  width: 21%;
}

.cookie img {
  display: flex;
  width: 100%;
}
.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 41px;
  text-align: center;
}
.cookie-tables ul li {
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

/*footer section...*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 17rem;
  background-color: MediumAquamarine;
  margin: auto;
}
.mytimes-title {
  display: inline-block;
  padding-right: 1.2rem;
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.footer a {
  display: inline-block;
  font-family: Verdana;
  font-size: 12px;
}
.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
